<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.glamo.research</string>
	<key>IP</key>
	<string>192.168.1.246</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID for secure authentication</string>
	<key>UIAppFonts</key>
	<array>
		<string>FiraCode-Regular.ttf</string>
		<string>FiraCode-Bold.ttf</string>
		<string>FiraCode-Medium.ttf</string>
		<string>FiraCode-SemiBold.ttf</string>
		<string>FiraCode-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
</dict>
</plist>
